p {
    margin: 1em 0;
}

#bootstrap-overrides .navbar-default {
    background-color: white;
}

#bootstrap-overrides .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: white;
}

#documentation pre {
    /*min-height: 300px;*/
    max-height: 300px;
    overflow-y: auto;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
}

#bootstrap-overrides .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: black;
}